.side-bar{
    background-color:#eceef2;
    padding: 14px;
}
.logo-text{
    color:#0cb486;
    font-size: 34px;
}
.menu{
    color: #9b9797;
    font-size: 14px;
    margin-top: 12px;
    font-weight: 600;
}
.myList{
    list-style-type: none;
    color: #606e7e;
    margin-bottom: 12px;
    margin-left: -38px;
    padding: 6px;
    font-weight: 600;


}
.myList:hover{
    list-style-type: none;
    margin-left: -38px;
    color: #0aa379;
    margin-bottom: 12px;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
}

.listIcon{
    margin-right: 10px;
}
.new{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px;
}
.new-text{
    color: #0cb486;
}
.new-txt{
    color: #9b9797;
    font-size: 13px;
}
.new-icon{
    color: #606e7e;
}
.search-nav{
    background-color: #eceef2;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}
.search{
    border: none;
    background-color: #eceef2;
}
.search:focus{
    outline: none;
}
.search-icon{
    margin-left: 5px;
    margin-right: 5px;
    color: #9b9797 !important;
}
.image{
    height: 40px;
    width: 40px;
}
.nav-btn{
    border: none;
    width: 90px;
    margin-right: 10px;
    background-color: #ebf6f3;
    color: #0aa379;
    font-weight: 600;
    border-radius: 5px;
}
 .bell-icon{
    font-size: 16px;
    padding-top: 7px !important;
    margin-right: 10px;
}
.dash{
    margin-bottom: 0px;
    font-weight: 600;
    color: #283545;
}
.dash-text{
    color: #9b9797;
}
.myDate{
    background-color: #eceef2;
    padding: 7px;
    height: 37px;
    border: none;
    border-radius: 5px;
    width: 190px;
}
.myDate:focus{
    outline: none;
}
.bal{
    border: 2px solid #eceef2;
    padding: 10px;
    border-radius: 5px;
}
.bal-txt{
    margin-right: 15px;
    color: #283545;
    font-weight: 600;
    font-size: 15px;
}
.bal-icon{
    color: #606e7e;
    font-size: 17px;
}
.bal-acc{
    color: #283545;
    font-size: 18px;
    font-weight: 600;
}
.bal-btn{
    margin-right: 10px;
    width: 109px;
    border: none;
    padding:5px;
    border-radius: 5px;
    background-color: #eceef2;
    color: #606e7e;
    font-weight: 600;
}
.active{
    background-color: #0cb486;
    color: #ffffff;
}
.d-card{
    background-color: #0cb486;
    padding: 10px;
    width: 220px;
    border-radius: 5px;
}
.logo-txt{
    color: #0cb486;
    font-size: 20px;
}
.d-btn{
    background-color: #ffffff;
    border: none;
    border-radius: 19px;
    width: 70px;
}
.d-txt{
    color: #ffffff;
    font-weight: 600;
}
.d-more{
    color: #ffffff;
    font-weight: 500;

}
.d-num{
    color: #ffffff;
}
.p-text{
    color: #ffffff;
}
.chat-txt{
    color: #283545;
    font-weight: 600;
}
.chat-icon{
    color: #606e7e;
}
.chat-price{
    color: #283545;
    font-weight: 600;
}
.chat-text{
    font-size: 12px;
    color: #9b9797;
}
.trans-history{
    border: 2px solid #eceef2;
    margin-top: 35px;
    padding: 14px;
    border-radius: 5px;
}
.history-search{
    background-color: #eceef2;
    height: 33px;
    padding: 3px;
    border-radius: 5px;
}
.trans-text{
    font-weight: 600;
    color: #283545;
    margin-bottom: 0px;
}
.trans-txt{
    color: #9b9797;
    margin-bottom: 0px;
}
.trans-btn{
    border: none;
    margin-right: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    height: 37px;
    color: #283545;
    font-weight: 600;
    background-color: #eceef2;
}

.trans-sub{
    color: #606e7e;
    font-weight: 500;
}
.filter-btn{
    border: 1px solid #0cb486;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    height: 37px;
    color: #0cb486;
    background-color: #ffffff;
}
.thead{
    background-color: #eceef2;
    border-radius: 5px !important;
    border-bottom: none !important;
}

  .trans-details{
    background-color: #eceef2;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .details-txt{
    color: #606e7e;
  }
  .beneficiary{
    color:#606e7e;
    font-weight: 600;
  }
  .ben-btn{
    color: #0aa379;
    background-color: #ebf6f3;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-weight: 600;
  }
  .ben-text{
    color: #606e7e;
    font-weight: 600;
  }
  .ben-txt{
    color: #9b9797;
    font-size: 13px;
  }
  #hide{
    display: block;
  }